@model LifeTheGathering.MVC.ViewModels.IndexViewModel

<h1>WOW! YOu own SOOO much many snails and this is how I am going to write it. </h1>
<h1>That is like AWESOME! So, @Model.Name, you are .. A WINNER! Woop woop!</h1>

<p>
    Here, one dr. Zoidberg for the winner. 
</p>
<img src="http://images2.fanpop.com/image/photos/9000000/Zoidberg-dr-zoidberg-9032706-1024-768.jpg" />